<div class="project-view-container">
	<form ng-submit="updateProject()" class="row profile">
		<div class="page-header">
	        <h1>
	        	<div class="project-team-description" ng-attr-contenteditable="{{ isEditing }}"  ng-class="{'edit-mode' : isEditing}" ng-model="project.name"></div>
	        </h1>
	    </div>

		<div class="my-project-content col-md-8">
				

			


		    <table class="table table-user-information">
		   		<tbody>
		   			<tr>
		   				<td>Project Description</td>
                		<td>
                			<div class="project-description" contenteditable="{{ isEditing }}"  ng-class="{'edit-mode' : isEditing}" ng-model="project.description">
                				
                			</div>
            			</td>
                	</tr>
                	<tr>
		   				<td>Team Description</td>
                		<td>
                			<div class="project-team-description" ng-attr-contenteditable="{{ isEditing }}"  ng-class="{'edit-mode' : isEditing}" ng-model="project.teamDescription">
                			</div>
            			</td>
                	</tr>
                </tbody>
            </table>
			<table class="table">
				<tbody>
					<tr>
                      	<td>Team Members</td>
                      	<td>
						    <div class="project-team-member col-sm-4" ng-repeat="profile in project.users">
						        <div class="">
						            <img class="img-responsive img-circle" style="-webkit-user-select: none;" src="./upload/{{profile._id}}" >
						        </div>
						        <div class="profile-name">
						            <h3 class="profile-name"><a href="#/profiles/{{profile._id}}">{{profile.firstName}} {{profile.lastName}}</a></h3>
						        </div>
						    </div>
						</td>
   					</tr>
				</tbody>
			</table>  
		</div>
		
		<div class="col-md-4">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="project-picture">
					<img class="img-responsive" style="width: 100%; -webkit-user-select: none" src="./upload/project/{{project._id}}" >
				</div>
				<!-- END SIDEBAR USERPIC -->
				
								
			</div>
			
			
			<div class="profile">
				
				<div class="box-divider textbox">
					<!-- SIDEBAR BUTTONS -->
					<div id="join-team-btn">
						<button type="button" ng-show="!checkProject()" class="btn btn-success btn-lg" ng-click="open('sm')">Join the Project</button>
						<button type="button" ng-show="checkProject() && isEditing === false" class="btn btn-default btn-lg" ng-click="isEditing = true;">Edit Project</button>
					</div>
				<!-- END SIDEBAR BUTTONS -->

					<h4>Preferred Skills: </h4>
					<div class="profile-skills editable" ng-attr-contenteditable="{{ isEditing }}"  ng-class="{'edit-mode' : isEditing}" ng-model="project.skills">
                    </div>
			</div>

			<div class="profile-edit-button pull-right">
				<button ng-show="checkProject() && isEditing === true" class="btn btn-default" ng-click="cancelEditing()">
					Cancel
				</button>
				
				<button ng-show="checkProject() && isEditing === true" class="btn btn-primary" type="submit" >
					Save
				</button>
			</div>
		</div>
	</form>

</div>
